.landing-img {
	background-image: url(../../../src/assets/images/landing.png);
}

.landing-header {
	height: 88px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	background-attachment: fixed;
}