.nav-text-white {
	@include pad {
		color: #3D2F24 !important;
	}
}
.nav-display {
	display: none;
	@include pad {
		display: flex;
	}
}
.footer-border {
	border-left: 1px solid #FFFFFF80;
	@include pad {
		border-left: none;
	}
}