.bg-attachment-fixed {
	@include pad {
		background-attachment: scroll !important;
	}
}

.home-banner-triangle-pc {
	@include pad {
		display: none !important;
		left: 0 !important;
	}
}

.home-banner-triangle-md {
	@include pad {
		display: block !important;
	}
}
.intro {
	@include pad {
		padding: 48px 0 !important;
	}
}
.intro-row {
	@include pad {
		margin-bottom: 48px !important;
	}
}
.intro-img {
	@include pad {
		margin-bottom: 48px;
	}
}
.intro-text-straight {
	@include pad {
		display: none !important;
	}
}
.intro-text-horizontal {
	display: none;
	@include pad {
		display: block !important;
	}
}
.popular {
	@include pad {
		padding: 48px 0 !important;
	}
}
.popular-title {
	@include pad {
		margin-bottom: 48px !important;
	}
}
.popular-card {
	@include pad {
		margin-bottom: 48px !important;
	}
}
.news {
	@include pad {
		padding: 48px 0 !important;
	}
}
.news-title {
	@include pad {
		display: none !important;
	}
}
.news-img {
	@include pad {
		max-width: 100% !important;
	}
}